


nav{
    margin: 0 100px 0 130px;
    
}
ul {
    display: flex;
    gap: 20px;
    list-style-type: none;

}

li.logo{
    margin-right: auto;
    
}

div.container{
    display: flex;
    flex-direction: column;
}