
*{
    font-family: 'Roboto';
}
html{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
body{
    margin: 0px;
}
nav{
    height: 375px;
    background-color: rgb(42, 42, 76);
    color: rgb(255, 255, 255);
}
ul {
    display: flex;
    width: 742px;
    height: 19px;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    font-size: small;
    margin: 0 130px 0 145px;
}
li.logo{
    margin-right: auto;
    font-size: medium;
}
div.container{
    display: flex;
    margin: 80px 120px 100px 150px;
    }
h1{
font-size: xx-large;
width: 300px;
margin: 0 50px 0 0;
}
p{
    width: 300px;
    margin: 0 50px 0 0;
    font-size: small;
}
div.container2{
    display: flex;
    flex-direction: column;
}
button{
    padding: 4px 25px 5px 25px;
    border: 0;
    margin: 5px 0 0 0;
    border-radius: 5px;
    background-color: rgb(63, 96, 229);
    color: white;
} 
h2{
    display: flex;
    justify-content: center;
    margin: 30px 0 30px 0;
}
div.cat-pics{
    display: flex;
    justify-content: center; 
    gap: 30px; 
    color: rgb(41, 41, 41);
}
div.cat{
    display: flex;
    height: 125px;
    width: 125px;
    border-radius: 8px;
    border: 3px solid rgb(85, 85, 224);
}
p.cat-2{
    font-size: 13px;
    text-align: center;
    height: 125px;
    width: 125px; 
    padding-top: 3px;
    margin: 0;
}
div.testimonial-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(41, 41, 41);
    background-color: rgb(194, 193, 193);
    padding: 100px 0 50px 0;
}
p.testimonial{
    font-size: 25px;
    font-weight: lighter;
    width: 600px;
}
p.signature-container{
    display: flex;
    justify-content: flex-end;
    width: 600px;
    font-size: 16px;
    font-weight: bolder;
}
div.action-container{}
div.blue-container{
    display: flex;
    justify-content: center;
    height: 100px;
    width: auto;
    border-radius: 5px;
    margin: 100px 120px 100px 170px;
    padding: 10px 30px 10px 30px;

    background-color: rgb(63, 96, 229);
    color: white;
}
div.small-action-container{
    width: 425px;
}
h3{
    margin-bottom: 2px;
    font-size: 17px;
    
}
p.sign-up{
    margin-top: 0px;
    width: 400px;
   
}
button.sign-up-2{
    padding: 4px 25px 5px 25px;
    border: 0;
    margin: 5px 0 0 0;
    border-radius: 5px;
}